<header class="header">
  <h1>Account Login</h1>
</header>
<main class="mt-5 m-auto">
  <form action="/users/login" method="post" class="m-auto mt-4">
    <div class="mb-3">
      <label for="email" class="form-label fs-5">Email address:</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="email" aria-describedby="email" {{#if email}}value="{{ email }}"{{/if}}>
      {{#if notFoundEmail}}<div id="emailHelp" class="form-text text-danger">
        Account doesn't exist, please register first.
      </div>{{/if}}
    </div>
    <div class="mb-3">
      <label for="password" class="form-label fs-5">Password:</label>
      <input type="password" class="form-control" id="password" placeholder="password" name="password" aria-describedby="password">
      {{#if notFoundPassword}}<div id="passwordHelp" class="form-text text-danger">
        Wrong password, please try again.
      </div>{{/if}}
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Sign In</button>
    </div>
  </form>
</main>